# Ignore .env file
.env

# Ignore node_modules folder
node_modules/

# Ignore build folders (if any)
client/build/
server/build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store